/**
 * Sky Blue Trades master CSS file.
 *
 * Derived in part from Ethan Schoonover's...  (ethanschoonover.com)
 *
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0; padding: 0; border: 0;
  font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, hr { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

blockquote { margin-left: 20px; }

embed { width: 100%; height: 100%; }
.post { overflow: hidden; }

body { font:16px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }


html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

textarea { overflow: auto; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

button, input, select, textarea { margin: 0; }

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
    border-radius: 1px; -moz-box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


$ltgrey:    #eeeeee;
$dkgrey:    #888888;
$white:     #ffffff;
$black:     #000000;
$ltblue:    #96B0EC;

$fontstack: sans-serif;
$hmargin:   70px;
$vmargin:   20px;

html * { font-family: $fontstack; }
p { margin: 0 0 $vmargin 0; }
strong { font-weight: bold; }
ol,ul { margin-bottom: $vmargin; }
li { margin-bottom: $vmargin/2; }
dt { font-weight: bold; }
dd { margin-left: $hmargin/2; }
h1, h2, h3, h4, h5, h6 {
    font-weight: bold; border-bottom: none;
    margin-top: $vmargin; margin-bottom: $vmargin/2;
}
h1 { font-size: 153.9% }      //26px
h2 { font-size: 153.9% }      //23px
h3 { font-size: 146.5% }    //20px
h4 { font-size: 138.5% }      //18px
h5 { font-size: 138.5% }      //18px
h6 { font-size: 138.5% }      //18px

a, a:active { text-decoration: underline; color: $dkgrey; }
a:hover { color: $dkgrey; }

.right-container {
    font-family: sans-serif; font-size: 90%;
    font-weight: normal; text-align: left;
    line-height: 1.65em; padding: 10px 20px;	
}

.posttitle {
    font-size: 200%; padding: 4px 0px;
    margin-top: $vmargin; margin-bottom: $vmargin;
    a { text-decoration: none; color: $black; }
}
.postdate {
    font-size: 100%; float: right;
    background-color: $ltgrey; color: $black;
    margin: -35px 0 0 0; padding: 4px 10px 4px 10px;
}
.post { padding-bottom: 20px; border-bottom: 1px solid $dkgrey; }

.pagetitle {
    font-family: Georgia,Times,serif; font-size: 500%;
    line-height: 150%; text-decoration: none;
    background-color: $ltblue; color: $black;
}
.pagetitle a {
    font-family: Georgia,Times,serif; text-decoration: none;
    background-color: $ltblue; color: $black;
}

.idxlinkold, .idxlinknew { font-size: 125%; padding-bottom: 20px; }
.idxlinkold { float:left; }
.idxlinknew { float:right; }

.blogrollcategory { margin-top:10px; font-size: 125%; }
.blogrolllink { display: block; font-size: 100%; }

.tags { display:block; padding: 7px 5px; text-align:right; }
.tag { background-color: $ltblue; padding: 2px 5px; }

.tagcloud {
    background-color: $ltblue; line-height: 200%;
    padding: 2px 5px; margin-bottom: 5px;
}

.sidebartitle { font-size: 150%; }
.sidebarsep { margin-bottom: 20px; }

.tagtitle { font-size: 120%; padding:4px 10px 4px 10px; }
.tagdate {
    font-size: 120%; float: right;
    padding: 4px 10px 4px 10px; margin: -28px 0 0 0;
}
.tagitem { padding-top: 5px; }

.readmore {
    float: left; background-color: $ltgrey;
    margin: -40px 0 -10px 0; padding: 4px 10px 4px 10px;
}

.caption { text-align: center; font-style: italic; }

.eq { text-align: center; }

.img-right { float: right; width: 50%; margin-left: 1em; margin-bottom: 1em; }
.img-right img { width: 100%; }
.img-left { float: left; width: 50%; margin-right: 1em; margin-bottom: 1em; }
.img-left img { width: 100%; }
.img-right-sm { float: right; width: 25%; margin-left: 1em; margin-bottom: 1em; }
.img-right-sm img { width: 100%; }
.img-left-sm { float: left; width: 25%; margin-right: 1em; margin-bottom: 1em; }
.img-left-sm img { width: 100%; }
.img-full { width: 100%; margin-bottom: 1em; }
.img-full img { width: 100%; border: 0px; }
.img-spacer { clear: both; }
.img2-box { float: left; width: 50%; margin-bottom: 1em; }
.img2-box img { width: 90%; margin-left: auto; margin-right: auto; }
.img-box { float: left; margin-bottom: 1em; }
.img-box img { width: 90%; margin-left: auto; margin-right: auto; }
.img-center { width: 100%; }
.img-center img { margin-left: auto; margin-right: auto; width:45%;  }
.img-center2 { width: 100%; }
.img-center2 img { margin-left: auto; margin-right: auto; }

.header { line-height: 190%; a { text-decoration: none; margin-right: 10px; } }
.leftcol {
    margin-left: $hmargin;
    margin-right: $hmargin;
    margin-top: $vmargin*2;
    margin-bottom: $vmargin*2;
    min-width: 32em; // sufficient for 72 char pre blocks
    max-width: 52em;
}
.rightcol { float: right; }

.sitelink{ display: block; float: left; padding-left: 10px; padding-right: 10px; }
pre { margin-bottom: $vmargin; }
pre, code { font-family: monospace; }
table { font-size: 75%; }
th { padding-bottom: .7em; padding-right: 1.8em; }
td { padding-top: 0.2em; padding-bottom: 0.2em; padding-left: .2em; padding-right: 1.8em; }

html {
    * { color: $black; }
    body { background-color: $white; }
    h1, h2, h3, h4, h5, h6 { color:$black; }
    pre { color: $black; background-color: $ltgrey; }
  tr:nth-child(odd) { background-color: $ltgrey }
    th { color:$black; background-color: $dkgrey; }
}

.header {
    background-color: $ltgrey;
    color: $white;
    a.navlink, a:active.navlink, a:visited.navlink { color: $black; }
    a:hover.navlink { background: transparent; color: $dkgrey; }
    .sitelink { color: $white; background-color: $dkgrey }
    a:hover.sitelink { color: $ltgrey; }
}

em { font-style: italic; }

.footer {
    background-color: $dkgrey; color: $white;
    padding-left: $hmargin/2; line-height: 200%;
    padding-right: 1em; clear: both;
      a { text-decoration:none; color: $white; }
      a:hover { color:$black; }
}

html * { color-profile: sRGB; rendering-intent: auto; }

