body { margin:0; padding:0; background: #ffffff; }	  
.container { margin: 0px 0px 0px 42px; width: 1024px; }
.full-col { width:1024px; }
.left-col { width:768px; }
.right-col { position: absolute; top: 168px; left: 825px; width: 199px; }
.header { height:150px; width:100%; border-width: 1px; margin:0; }
.header a { border-style: none; }
