@import url('https://fonts.googleapis.com/css?family=Faustina:400,400i,700,700i|Oswald:500|Merienda:700|Inconsolate:400,700');

body {
  margin: 0;
  padding: 0;
  color: #555;
  background-color: #FFFFFF;
  font: 1em/1.2 "Faustina", serif;
}

body > header {
  color: #eaeaea;
  background: linear-gradient(to right, #035, #0AB);
  padding: 1em 1.25em;
}

header a.branding {
    font-family: "Merienda", serif;
    font-size: 250%;
    font-weight: bold;
    color: #eaeaea;
    text-decoration: none;
}

article header {
    padding: 0;
}

nav {
  background: linear-gradient(to right, #333, #aaa);
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

nav ul {
    margin: 10px;
    padding: 0 15px;
}

nav li {
  display: inline;
  margin: 0;
}

ol > li {
  margin-bottom: 10px;
}

ul > li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  padding: .7em 1.25em;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

nav a:link { color: white; }
nav a:visited { color: white; }
nav a:hover { color: white; }

.main {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em 1.25em;
  background-color: #FFFFFF;
}

footer {
  color: #eaeaea;
  background: #888;
  padding: 1em 1.25em;
}

footer .rss { float: right; margin-top: -20px; }


h1,h2,h3,h4,h5,h6
{
  margin: 0 0 .5em;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Oswald", sans-serif;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

header h1 { margin-bottom: 10px; }

header h4.postdate {
  margin-bottom: 20px;
  color: #888;
}

p {
  margin: 0 0 1em;
  line-height: 1.35;
}

blockquote {
  padding: 0 1em;
  margin: 0 0 0 1em;
  border-left: 5px solid #eee;
}

hr {
  height: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  border: 0;
  border-top: 1px solid #aaa;
}

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  /* border-top: 1px solid #ddd; */
}

th, td {
  padding: .5em 1em;
  vertical-align: top;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
}

article h1 a {
    color: #555;
    text-decoration: none;
}
article h1 a:link { color: #555; }
article h1 a:visited { color: #555; }
article h1 a:hover { color: #777; }
article h1 a:active { color: #777; }

a { text-decoration: none; }
a:link { color: #078; }
a:visited { color: #078; }
a:focus { color: #045; }
a:hover { color: #045; }
a:active { color: #045; }

.readmore {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-variant: small-caps;
}

.img-responsive { max-width: 100%; }

.btn {
  color: #555 !important;
  background-color: #eaeaea;
  border-color: #222;
  display: inline-block;
  padding: .5em 1em;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .2em;
  text-decoration: none;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

@media (min-width: 42em)
{
  header { padding: 1.5em 3em; }
  nav { padding: 1px 0px; }
  .main { padding: 2em 3em; }
  footer { padding: 1em 2em; }

  nav li {
    display: inline;
    margin: 0 1em 0 0;
  }

  nav a {
    display: inline;
    padding: 0;
    border-bottom: 0;
  }
}


div.tags { text-align: right; }

div.tags span.tag {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ccc;
    padding: 1px 5px 5px 5px;
    font-size: 75%;
    font-family: "Faustina", serif;
}


pre, code { font: 1em/1.2 'Inconsolata', monospace; font-weight: 400; }
.sourceCode { font: 1em/1.2 'Inconsolata', monospace; font-weight: 400; }

.tagitem h2 { font-size: 1.25em; }

.tagdate {
    float: right;
    margin: -2.4em 0 0 0;
    padding: 4px;
    color: #888;
    font-size: 1.25em;
}

.idxlinks {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1em;
}
.idxlinkold { float:left; }
.idxlinknew { float:right; }

#toc { position: fixed; margin: 0; font: 0.8em; display: block; }
#toc p { margin: 0; padding: 0; }
#toc a:link, #toc a:visited { color: #aaa; text-decoration: none; }
#toc a:hover { color: #222; }

i.arr-right {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-right.png);
}
i.arr-left {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-left.png);
}
i.arr-down {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-down.png);
}
i.arr-up {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-up.png);
}
i.arr-down-right {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-down-right.png);
}
i.arr-down-left {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-down-left.png);
}


table.group-multiplication { border-collapse: collapse; }
table.group-multiplication tr.top-row { border-bottom: 1px solid; }
table.group-multiplication col.left-col { border-right: 1px solid; }
table.group-multiplication td {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}

table.lines { border-collapse: collapse; }
table.lines tr.top-row { border-bottom: 1px solid; }
table.lines col.left-col { border-right: 1px solid; }
table.lines td { text-align: center; }

table.packed {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}


.img-right { float: right; width: 50%; margin-left: 1em; margin-bottom: 0; }
.img-right img { width: 100%; }
.img-left { float: left; width: 50%; margin-right: 1em; margin-bottom: 0; }
.img-left img { width: 100%; }
.img-right-sm { float: right; width: 25%; margin-left: 1em; margin-bottom: 0; }
.img-right-sm img { width: 100%; }
.img-left-sm { float: left; width: 25%; margin-right: 1em; margin-bottom: 0; }
.img-left-sm img { width: 100%; }
.img-full { width: 100%; margin-bottom: 0; }
.img-full img { width: 100%; border: 0px; }
.img-full a { width: 100%; border: 0px; }
.img-spacer { clear: both; }
.img2-left { float: left; width: 50%; margin: 0; }
.img2-left img { width: 90%; margin-left: auto; margin-right: auto; }
.img2-right { float: right; width: 50%; margin: 0; }
.img2-right img { width: 90%; margin-left: auto; margin-right: auto; }
.img-box { float: left; margin-bottom: 0; }
.img-box img { width: 90%; margin-left: auto; margin-right: auto; }
.img-center-noscale { width: 100%; }
.img-center-noscale img { display: block; margin-left: auto; margin-right: auto;  }
.img-center-noscale iframe { display: block; margin-left: auto; margin-right: auto;  }
.img-center { width: 100%; }
.img-center img { display: block; margin-left: auto; margin-right: auto; width:45%;  }
.img-center2 { width: 100%; }
.img-center2 img { margin-left: auto; margin-right: auto; }
.img-center3 { width: 100%; }
.img-center3 img { display: block; margin-left: auto; margin-right: auto; width: 75%; }
.img-center-small { width: 100%; }
.img-center-small img { display: block; margin-left: auto; margin-right: auto; width:25%;  }


.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a { display: block; }

.nav-tabs { *zoom: 1; }

.nav-tabs:before,
.nav-tabs:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs:after { clear: both; }

.nav-tabs > li { float: left; }

.nav-tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs { border-bottom: 1px solid #aaa; }

.nav-tabs > li { margin-bottom: -1px; }

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #FFFFFF;
  border: 1px solid #aaa;
  border-bottom-color: transparent;
}

.tab-content { overflow: auto; }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane { display: none; }

.tab-content > .active { display: block; }

.nav > .disabled > a { color: #999999; }

.nav > .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.clear { clear: both; }
