@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

body { font: 16px/2 Lato, sans-serif; }
h1 { font-family: 'Yanone Kaffeesatz', sans-serif; }
h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; font-weight: bold; }
pre, code { font: 13px/1.5 'Oxygen Mono', monospace; }

a:focus { outline: 1px dotted invert; }

hr { border-color: #ccc; border-style: solid; border-width: 1px 0 0; clear: both; height: 0; }

h1 { font-size: 32px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }

h1, h2, h3, h4, h5, h6 { line-height:1.2em; margin-bottom:.3em; }
h2 { margin-top:1em; }

.container_16 .grid_16.branding { margin-left: 0; margin-right: 0; width: 100%; }
.container_16 .grid_16.topnav {
    font-family: 'Yanone Kaffeesatz';
    font-size: 21px;
    margin-left: 0; margin-right: 0; width: 100%;
}
.container_16 .grid_16.branding { background-image: url(../images/banner.png); background-repeat: no-repeat; margin:0; padding: 0; width: 100%; }
h1#branding { font-size: 4em; font-weight:bold; text-align:left;
              padding:.2em .5em; margin-bottom:0; }
h1#branding a { color: #078; }
h1#branding a:hover { color: #078; }

ol { list-style: decimal; }
ul { list-style: square; }

li { margin-left: 30px; }
p, dl, hr, h1, h2, h3, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom: 10px; }
li, p { line-height: 24px; }

blockquote { padding-left:1em; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 12px; }

a { color: #034; font-weight:bold; text-decoration: none; }
a:hover { color: #606; }
h1 a { font-weight:normal; }
h2 a { font-weight:normal; }


.postdate { float: right; margin: -2.4em 0 0 0; padding: 4px;
            background-color: #AAA; color: #FFF; }
.tagdate { float: right; margin: -2.4em 0 0 0; padding: 4px;
           background-color: #AAA; color: #FFF; }

.tags { display:block; padding: 7px 5px; text-align:right; }
div.tags span.tag { background-color: #CCC; padding: 2px 5px; }
.tagcloud {
    background-color: #CCC; line-height: 200%;
    padding: 2px 5px; margin-bottom: 5px;
}

.img-right { float: right; width: 50%; margin-left: 1em; margin-bottom: 0; }
.img-right img { width: 100%; }
.img-left { float: left; width: 50%; margin-right: 1em; margin-bottom: 0; }
.img-left img { width: 100%; }
.img-right-sm { float: right; width: 25%; margin-left: 1em; margin-bottom: 0; }
.img-right-sm img { width: 100%; }
.img-left-sm { float: left; width: 25%; margin-right: 1em; margin-bottom: 0; }
.img-left-sm img { width: 100%; }
.img-full { width: 100%; margin-bottom: 0; }
.img-full img { width: 100%; border: 0px; }
.img-full a { width: 100%; border: 0px; }
.img-spacer { clear: both; }
.img2-left { float: left; width: 50%; margin: 0; }
.img2-left img { width: 90%; margin-left: auto; margin-right: auto; }
.img2-right { float: right; width: 50%; margin: 0; }
.img2-right img { width: 90%; margin-left: auto; margin-right: auto; }
.img-box { float: left; margin-bottom: 0; }
.img-box img { width: 90%; margin-left: auto; margin-right: auto; }
.img-center-noscale { width: 100%; }
.img-center-noscale img { display: block; margin-left: auto; margin-right: auto;  }
.img-center-noscale iframe { display: block; margin-left: auto; margin-right: auto;  }
.img-center { width: 100%; }
.img-center img { display: block; margin-left: auto; margin-right: auto; width:45%;  }
.img-center2 { width: 100%; }
.img-center2 img { margin-left: auto; margin-right: auto; }
.img-center3 { width: 100%; }
.img-center3 img { display: block; margin-left: auto; margin-right: auto; width: 75%; }
.img-center-small { width: 100%; }
.img-center-small img { display: block; margin-left: auto; margin-right: auto; width:25%;  }

.idxlinkold, .idxlinknew { font-size: 125%; }
.idxlinkold { float:left; }
.idxlinknew { float:right; }

#site_info { color:#ccc; background:#666; margin-bottom:10px; margin-top:10px;
             padding: 10px 20px; }
#site_info a { color:#fff; }
#site_info a:hover { color:#000; }

#toc { position: fixed; margin: 0; font: 0.8em; display: block; }
#toc p { margin: 0; padding: 0; }
#toc a:link, #toc a:visited { color: #aaa; text-decoration: none; }
#toc a:hover { color: #222; }

i.arr-right {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-right.png);
}
i.arr-left {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-left.png);
}
i.arr-down {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-down.png);
}
i.arr-up {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-up.png);
}
i.arr-down-right {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-down-right.png);
}
i.arr-down-left {
    display: inline-block;
    width:16px;
    height:16px;
    line-height:16px;
    vertical-align:text-top;
    background-position:0px 0px;
    background-repeat:no-repeat;
    margin-top:3px;
    background-image: url(/images/arr-down-left.png);
}

.eq { text-align: center; }

table.group-multiplication { border-collapse: collapse; }
table.group-multiplication tr.top-row { border-bottom: 1px solid; }
table.group-multiplication col.left-col { border-right: 1px solid; }
table.group-multiplication td {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}

table.lines { border-collapse: collapse; }
table.lines tr.top-row { border-bottom: 1px solid; }
table.lines col.left-col { border-right: 1px solid; }
table.lines td { text-align: center; }

table.packed {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}
