body {
    color: #000;
    background-color: #fbfbfb;
    font-size: 24px;
    font-family: 'Linux Libertine',serif;
    line-height: 140%;
    text-rendering: optimizeLegibility;
}

h1, h2, h3 {
    font-family: 'Linux Biolinum',sans;
}

h1 {
    font-size: 150%;
    line-height: 110%;
}

h2 {
    font-size: 115%;
}

h3 {
    font-size: 100%;
}

a {
    color: #5b6ee1;
    text-decoration: none;
}

a:hover {
    color: #306082;
    background-color: #f3f3f3;
}

a:visited {
    color: #306082;
}

pre {
    font-family: "Inconsolata",monospace;
    line-height: 110%;
    min-width: 100%;
    padding: 1rem;
    background-color: #F8F8F8;
    color: #666;
    border-radius: 4px;
    display: inline-block;
    margin: 0;
}

code {
    font-family: "Inconsolata",monospace;
}

blockquote {
    padding-left: 2rem;
    border-left: 5px solid #eee;
    font-style: italic;
}

/* Footer */

footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
    font-size: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    line-height: 120%;
}

.footer-left p {
    margin: 0;
}

/* Navigation */

.top-nav {
    font-family: 'Linux Biolinum',sans;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eee;
}

.top-nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.top-nav li {
    display: inline;
    padding: 1rem;
}

.top-nav li:first-child {
    padding-left: 0;
}

.top-nav li.brand {
    font-size: 120%;
    font-weight: bold;
}

.top-nav a {
    display: inline-block;
    color: #000;
}

.top-nav a:hover {
    color: #000;
}

.top-nav a:visited {
    color: #000;
}

@media (min-width: 1140px) {
    .container {
        margin-left: 14rem;
        margin-right: 4rem;
        max-width: 52rem;
    }
}

@media (min-width: 800px) and (max-width: 1140px) {
    .container {
        margin-left: 6rem;
        margin-right: 4rem;
        max-width: 52rem;
    }
}

@media (max-width: 800px) {
    .container {
        margin: 1rem;
    }
}

.fade-text {
    color: #ddd;
}

/* Summaries */

.summary {
    margin-bottom: 3rem;
}

.summary .date {
    margin-bottom: 0rem;
}

.summary p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.readmore {
    font-variant: small-caps;
}

.idxlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-variant: small-caps;
}

/* Posts */

.date {
    margin-top: -1rem;
    margin-bottom: 2rem;
    color: #666;
}

.post img, .centered-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    border-radius: 4px;
}

.centered-image-noscale {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    border-radius: 4px;
}

.centered-image-noscale img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered-image-noscale iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-right { float: right; width: 50%; margin-left: 1em; margin-bottom: 0; }
.img-right img { width: 100%; }
.img-left { float: left; width: 50%; margin-right: 1em; margin-bottom: 0; }
.img-left img { width: 100%; }
.img-row { width: 100%; display: flex; flex-direction: row; }
.img-row img.row-image { width: 100%; margin: 0; }

.post video {
    display: block;
    margin: 0 auto;
    padding: 0px;
    max-width: 100%;
}

.caption {
    text-align: center;
    margin: 0;
    margin-left: 4rem;
    margin-right: 4rem;
}

.tabs540 {
    position: relative;
    min-height: 540px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tabs800 {
    position: relative;
    min-height: 900px; /* This part sucks */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 2px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    margin-left: -1px;
    position: relative;
    left: 1px;
    font-variant: small-caps;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 32px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

.content p {
    margin: 0;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

table.group-multiplication { border-collapse: collapse; }
table.group-multiplication tr.top-row { border-bottom: 1px solid; }
table.group-multiplication col.left-col { border-right: 1px solid; }
table.group-multiplication td {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}

table.lines { border-collapse: collapse; }
table.lines tr.top-row { border-bottom: 1px solid; }
table.lines col.left-col { border-right: 1px solid; }
table.lines td { text-align: center; }

table.packed {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
}


.nav-tabs{*zoom:1;}.nav-tabs:before,.nav-pills:before,.nav-tabs:after,.nav-pills:after{display:table;content:"";line-height:0;}
.nav-tabs:after{clear:both;}
.nav-tabs>li{float:left;}
.nav-tabs>li>a{padding-right:12px;padding-left:12px;margin-right:2px;line-height:14px;}
.nav-tabs{border-bottom:1px solid #ddd;}
.nav-tabs>li{margin-bottom:-1px;}
.nav-tabs>li>a{padding-top:8px;padding-bottom:8px;line-height:20px;border:1px solid transparent;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;}.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{border-color:#ecf0f1 #ecf0f1 #dddddd;}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover,.nav-tabs>.active>a:focus{color:#7f8c8d;background-color:#ffffff;border:1px solid #ddd;border-bottom-color:transparent;cursor:default;}
.nav-tabs.nav-stacked{border-bottom:0;}
.nav-tabs.nav-stacked>li>a{border:1px solid #ddd;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.nav-tabs.nav-stacked>li:first-child>a{-webkit-border-top-right-radius:0px;-moz-border-radius-topright:0px;border-top-right-radius:0px;-webkit-border-top-left-radius:0px;-moz-border-radius-topleft:0px;border-top-left-radius:0px;}
.nav-tabs.nav-stacked>li:last-child>a{-webkit-border-bottom-right-radius:0px;-moz-border-radius-bottomright:0px;border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;-moz-border-radius-bottomleft:0px;border-bottom-left-radius:0px;}
.nav-tabs.nav-stacked>li>a:hover,.nav-tabs.nav-stacked>li>a:focus{border-color:#ddd;z-index:2;}
.nav-tabs .dropdown-menu{-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;}
.nav-tabs .dropdown-toggle .caret{margin-top:8px;}
.nav-tabs .active .dropdown-toggle .caret{border-top-color:#7f8c8d;border-bottom-color:#7f8c8d;}
.nav-tabs .open .dropdown-toggle,.nav-pills .open .dropdown-toggle{color:#ffffff;background-color:#95a5a6;border-color:#95a5a6;}
.tab-content{overflow:auto;}
.tab-content>.tab-pane{display:none;}
.tab-content>.active{display:block;}
.nav{margin-left:0;margin-bottom:20px;list-style:none;}
.nav>li>a{display:block;}

.tag {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 70%;
    background-color: #4080C2;
    padding: 2px 5px;
    border-radius: 5px;
}

.tag a {
    color: #FFFFFF;
    text-decoration: none;
}

.tag a:hover {
    color: #CCCCCC;
    background-color: #4080C2;
}
