<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$pagetitle$</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml"
         title="Sky Blue Trades" href="/rss.xml" />
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/livefyre.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a class="sitelink" href="/">skybluetrades</a>
        <a class="navlink" href="/static/about.html">about</a>
        <a class="navlink" href="mailto:ian@skybluetrades.net">mail</a>
        <div class="pagetitle">&nbsp;&nbsp;<a href="/">sky blue trades</a></div>
      </div>

      <div class="main">
        $body$
      </div>

      <footer class="footer">
        Site content copyright &copy; 2011 Ian Ross &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Powered by <a href="http://jaspervdj.be/hakyll/">Hakyll</a>
      </footer>
    </div>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
