<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="xaWvfvjmBJGZ9otiid2rYDNvJO4lRx6pTY9aUv5Fofo" />
    <title>$pagetitle$</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml"
         title="Sky Blue Trades" href="/rss.xml" />
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22380558-1']);
      _gaq.push(['_setDomainName', 'skybluetrades.net']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div class="container">
      <div class="top-nav">
        <ul>
          <li class="brand"><a href="/">sky blue trades</a></li>
          <li class="fade-text"> </li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/index.html">Blog</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="mailto:ian@skybluetrades.net">Contact</a></li>
        </ul>
      </div>

      <div class="main">
        $body$
      </div>


      <footer>
        <div class="footer-left">
          <p class="copyright">Site content copyright &copy; 2011-2018 Ian Ross</p>
          <p>Powered by <a href="http://jaspervdj.be/hakyll/">Hakyll</a></p>
        </div>
        <div class="rss"><a href="/rss.xml"><img src="/images/rss.png"></img></a></div>
      </footer>
    </div>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({ "HTML-CSS": { scale: 90 } });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.csv.js"></script>
    <script src="/js/d3.v2.js"></script>
    <script src="/js/escodegen.browser.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/radian.js"></script>
    <script src="/js/html5slider.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
