<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$pagetitle$</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml"
         title="Sky Blue Trades" href="/rss.xml" />
    <link href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic|Oxygen+Mono|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/livefyre.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22380558-1']);
      _gaq.push(['_setDomainName', 'skybluetrades.net']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </head>
  <body>
    <div class="container_16">
      <div class="grid_16 branding">
        <h1 id="branding">
          <a href="/">sky blue trades</a>
        </h1>
      </div>
      <div class="clear"></div>
      <div class="grid_16 nav">
	<ul class="nav main">
          <li><a href="/">home</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/files/cv.pdf">cv</a></li>
          <li><a href="mailto:ian@skybluetrades.net">mail</a></li>
        </ul>
      </div>
      <div class="clear"></div>

      $body$

      <div class="clear"></div>
      <div class="grid_16 branding" id="site_info">
        Site content copyright &copy; 2011-2013 Ian Ross &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Powered by <a href="http://jaspervdj.be/hakyll/">Hakyll</a>
      </div>
      <div class="clear"></div>
    </div>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </body>
</html>
